# --- CONFIGURATION APIS APTUS ---

#imen

# GROQ API - Pour le Guide de Réussite
GROQ_API_KEY=

# GROQ API - Pour le CV Sur Mesure (Tailoring)
GROQ_TAILOR_API_KEY=

# FIRECRAWL API - Utilisée pour le scraping des liens d'offres d'emploi externes
FIRECRAWL_API_KEY=


# balloumi 

GEMINI_API_KEY=
FIRECRAWL_API_KEY=
GEMINI_AGENT_API_KEY=
GROQ_API_KEY=
GROQ_API_KEYS=
OPENROUTER_API_KEY=


# ons 
GROQ_KEY_1=
GROQ_KEY_2=
GROQ_KEY_3=
MAIL_SENDER=
BREVO_API_KEY=


